<mat-toolbar class="navigation">
  <div><a routerLink="/" class="logo">iFusion</a></div>
  <div class="vertical-line"></div>
  <ul class="categories" fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px">
    <li class="category-item" *ngFor="let category of categories"><a [routerLink]="['/products/', category]" routerLinkActive="router-link-active" >{{category}}</a></li>
  </ul>
  <ul fxFlex fxLayout="row" fxLayoutAlign="flex-end" fxLayoutGap="15px" class="user-section">
    <li *ngIf="isAdmin"><a routerLink="/products/create">Add Product</a></li>
    <li *ngIf="isAdmin"><a routerLink="/orders/all-orders">All Orders</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/orders/my-orders"><mat-icon>shopping_cart</mat-icon></a></li>
    <li *ngIf="isLoggedIn"><a class="logout" routerLink="/auth/login" (click)="logout()"><mat-icon>cancel_presentation</mat-icon></a></li>
    <li *ngIf="isAnonimous"><a routerLink="/auth/login">Login</a></li>
    <li *ngIf="isAnonimous"><a routerLink="/auth/register">Register</a></li>
  </ul>
</mat-toolbar>