.site-header {
	display: flex;
	flex-wrap: wrap;
    padding: 0;
    margin: 0;
	text-align: center;
	background: none;

    .site-branding {
		background: #24272D;
		width: 100%;
		color: #ffffff;
		padding: 1.2rem;
        .site-title {
            font-size: 1.95em;
            font-weight: 700;
			text-decoration: none;
			color: white;
        }
    }
}

.navigation {
    margin: 0;
	display: none;
    justify-content: center;
    text-align: center;
	justify-items: center;

    ul {
		display: inline-block;
        padding: 0;
        margin: 0 auto;
    }

    li {
        list-style: none outside;
        margin: 0.5rem 0;
        animation: nav-in 0.3s 1 forwards;
        opacity: 0;

        a {
            display: block;
            width: 60vw;
            text-decoration: none;
            font-size: 18px;
            color: #fff;
            padding: 1.1rem 0;   
            background: #24272D;
            border-radius: 4px;
            box-shadow: 0px 0px 27px -4px rgba(0,0,0,0.75);
            transition: background 0.3s ease-in, color 0.3s ease-in;

            &:before {
                display: block;
                margin-bottom: 0.5rem;
                font-size: 2rem;
            }

            &:hover {
                background: #fff;
                color:var(--red-theme); 
            }
        }
    }
}


#nav-main-toggle{
    display: none;
}

#nav-toggle {
    content: '';
    position: fixed;
    top: 1.5rem; right: 2rem;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2.2rem;

    & span {
        display: none;
        z-index: 1000;
    }
    
    &:before {
        content: '\f0c9';
    }
}

#nav-main-toggle:checked + .site-header {

    .navigation {
		display: block;
		justify-content: center;
		text-align: center;
    }

    #nav-toggle:before {
        content: '\f00d';
    }
} 

@media screen and (min-width: 800px) {

    #nav-toggle {display: none;}
    #nav-main-toggle{ display: none; }
	.site-header { 
		display: flex;
		flex-direction: row;
		background: #24272D; 
		
		.site-branding{
			display: flex;
			width: auto;

			.site-title{
				display: flex;
			}
		}
	}
    .navigation {
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		justify-content: space-between;
		padding: 0;
		.user-section{
			margin-right: 2rem;
		}
        ul { display: flex; }

        li {
			padding: 0;
			margin: auto;
            animation: nav-down 0.3s 1 forwards;
    
            a {
                display: flex;
                width: auto;
                font-size: inherit;
                margin: auto 0.3rem;
                padding: 0.5rem 0.4rem;
				background: none;
				box-shadow: none;
				font-weight: 500;
            }

            a:before {
                display: flex;
                margin-right: 0.5rem;
                margin-bottom: 0;
                font-size: inherit;
            }
        }
    }
}



@for $i from 1 through 10 {
    .navigation li:nth-child(#{$i}) {
        animation-delay: $i * 0.10s;
    }
}

@keyframes nav-in {
    from {
        transform: scale(0.1);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes nav-down {
    from {
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}