<input type="checkbox" id="nav-main-toggle" name="nav-main-toggle">

<header class="site-header">
  <label id="nav-toggle" for="nav-main-toggle" class="fas"><span>Menu</span></label>
  <div class="site-branding">
    <a routerLink="/" class="site-title">iFusion</a>
  </div>
  <nav class="navigation main">
    <ul class="categories">
      <li class="category-item" *ngFor="let category of categories"><a [routerLink]="['/products/', category]"
          routerLinkActive="router-link-active">{{category}}</a></li>
    </ul>
    <ul class="user-section">
      <li *ngIf="isAdmin"><a routerLink="/products/create">Add Product</a></li>
      <li *ngIf="isAdmin"><a routerLink="/orders/all-orders">All Orders</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/orders/my-orders">
        <i class="fas fa-shopping-cart"></i>
        </a></li>
      <li *ngIf="isLoggedIn"><a class="logout" routerLink="/auth/login" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>
        </a></li>
      <li *ngIf="isAnonimous"><a routerLink="/auth/login">Login</a></li>
      <li *ngIf="isAnonimous"><a routerLink="/auth/register">Register</a></li>
    </ul>
  </nav>
</header>