.card{
    margin: 1rem;
}

.card-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-status{
    font-size: 1rem;
    text-align: center;
    margin: 0.2rem;
}

.card-name{
    border-bottom: 2px solid black;
    padding-bottom: 0.4rem;
    margin: 0.3rem;
}

.img-container{
    width: 10%;
}

img{
    width: 100%;
    box-shadow: 0px 0px 32px -9px rgba(0,0,0,0.75);
}

.action{
    text-align: center;
}

.card-info{
    margin: auto 2rem;
}

.pending{
    color: rgb(0, 94, 201);
}

.confirmed{
    color: rgb(0, 206, 51);
}