<div class="card">
    <a [routerLink]="['/products/details', product._id]">
      <div class="card-content">
          <img mat-card-image src="{{product.imageUrl}}" alt="Photo of iProduct">
          <h4 class="card-name">{{product.name}} - {{product.storage}} GB</h4>
          <h5 class="card-price">{{product.price}} $</h5>
        </div>
    </a>
  
  <div class="card-actions">
    <a mat-flat-button color="primary" [routerLink]="['/products/details', product._id]">Details</a>
    <button *ngIf="isAdmin" mat-flat-button color="warn" (click)="deleteProduct(product['_id'])">Delete</button>
  </div>
</div>