/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    font-family: 'Barlow', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    min-height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    padding: 2rem 0;
    margin: 1.5rem auto;
    width: 75vw;
}

.header::after{
    display: block;
    width: 5rem;
    height: 0.15rem;
    content: '';
    background: rgb(48, 48, 48);
    margin: 1.2rem auto;
}

@media screen and (max-width: 1065px) {
	.wrapper{ width: 85vw; }
}